.chips {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: var(--dark);
    border-top: solid 1px #fff1;
    gap: 0.5rem;
    width: 100vw;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.chips label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    aspect-ratio: 1;
    padding-bottom: 0.6rem;
}

.homeIcon {
    background-image: url("../Img/house.svg");
}

.homeIcon:has(:checked) {
    background-image: url("../Img/house-fill.svg");
}

.aboutusIcon {
    background-image: url("../Img/person.svg");
}

.aboutusIcon:has(:checked) {
    background-image: url("../Img/person-fill.svg");
}

.productsIcon {
    background-image: url("../Img/box.svg");
}

.productsIcon:has(:checked) {
    background-image: url("../Img/box-fill.svg");
}

.homeIcon, .aboutusIcon, .productsIcon {
    background-size: 60%;
}

.homeIcon:has(:checked), .aboutusIcon:has(:checked), .productsIcon:has(:checked) {
    border-bottom: solid var(--font) 0.2rem;
}